.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(123, 123, 123);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.counter-button:hover {
  background-color: rgb(123, 123, 123, 48%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
}